@model List<Golestan.Models.Users>
@{
    ViewBag.Title = "افزودن استاد جدید";
}
<table>
    <thead>
        <tr>
            <th>نام</th>
            <th>ایمیل</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var user in Model)
            {
                @if (user.Id == Model[0].Id)
                {

                }
                else
                {
                    <tr>
                        <td>@user.First_name</td>
                        <td>@user.Email</td>
                        <td>
                            <form asp-action="AddTeacher" asp-controller="Admin" method="post" style="display:inline;">
                                <input type="hidden" name="Id" value="@user.Id" />

                                <label>شماره استاد:</label>
                                <input type="number" name="TeachId" required />

                                <label>حقوق:</label>
                                <input type="number" name="salary" required />

                                <select name="DepartID" id="DepartID" class="form-control">
                                    <option value="">-- Select Department --</option>
                                    <option value="111">کامپیوتر</option>
                                    <option value="222">برق</option>
                                    <option value="333">مکانیک</option>
                                    <option value="444">معماری</option>
                                </select>


                                <button type="submit" onclick="return confirm('آیا مطمئن هستید؟')" style="background:none;border:none;color:blue;text-decoration:underline;cursor:pointer;">
                                    اضافه
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
