@model List<Golestan.Models.Students>

<table>
    <thead>
        <tr>
            <th>شماره دانشجویی</th>
			<th>شناسه کاربر</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Student_Id</td>
                    <td>@user.User_Id</td>@* most be User.First_Name*@
                    <td>
                        <form asp-action="DeleteStudent" asp-controller="Admin" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit" onclick="return confirm('آیا مطمئن هستید؟')" style="background:none;border:none;color:red;text-decoration:underline;cursor:pointer;">
                                حذف
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
