@{
    ViewBag.Title = "پنل مدیریت";
}

<h2>پنل مدیریت</h2>

<ul>
    <li><a href="/Admin/AddCourse">افزودن درس جدید</a></li>
    <li><a href="/Admin/AddClass">افزودن کلاس جدید</a></li>
    <li><a href="/Admin/AddTeacher">افزودن استاد جدید</a></li>
    <li><a href="/Admin/AddStudent">افزودن دانشجوی جدید</a></li>
    <li><a href="/Admin/AssignTeacher">تخصیص استاد به کلاس</a></li>
    <li><a href="/Admin/AddStudentToClass">افزودن دانشجو به کلاس</a></li>
    <li><a href="/Admin/RemoveTeacher">لغو تخصیص استاد از کلاس</a></li>
    <li><a href="/Admin/RemoveStudentFromClass">حذف دانشجو از کلاس</a></li>
    <li><a href="/Admin/DeleteCourse">حذف درس</a></li>
    <li><a href="/Admin/DeleteClass">حذف کلاس</a></li>
    <li><a href="/Admin/DeleteTeacher">حذف استاد</a></li>
    <li><a href="/Admin/DeleteStudent">حذف دانشجو</a></li>
</ul>
 
