@model List<Golestan.Models.Takes>

<h2>دروس تخصیص شده من</h2>

<ul>
    @foreach (var take in Model)
    {
        <li>
            <p>درس: @take.sections.courses.Title</p>
            <a href="/Student/CourseDetails/@take.Student_Id">جزئیات</a>
            <form method="post" asp-action="CancelAssignment" asp-route-takeId="@take.Student_Id" style="display:inline;">
                <button type="submit">لغو تخصیص</button>
            </form>
        </li>
    }
</ul>
